<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>

<body>
    <form>
        <label>
            <input type="radio" name="sexo" value="masculino" required> Masculino
        </label>
        <label>
            <input type="radio" name="sexo" value="feminino" required> Feminino
        </label>
        <label>
            <input type="radio" name="sexo" value="outro" required> Outro
        </label>
        <button type="submit">Enviar</button>
    </form>
</body>

</html>